*:root {
  --text: #434455;
  --white: #ffffff;
  --primary-brand: #4d5ae5;
  --dark: #2e2f42;
  --light: #f4f4fd;
  --accent: #e7e9fc;
  --pressed-rate: #404BBF;
  --success: #31D0AA;
  --subtle-text: #8E8F99;

}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--white);
}
/*new*/
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
}
/*new-end*/

/* header section */
.logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: var(--primary-brand);
}
/*new*/

.top-logo {
  margin-right: 76px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.div-head {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 40px;
}

/*new-end*/

.link {
  text-decoration: none;
}

.studio {
  color: var(--dark);
}

.list {
  list-style: none;
}

.nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
  /*new*/
  padding: 24px 0;
  /*new-end*/
}

.nav:hover, .nav:focus, .contact:hover, .contact:focus, .action-btn:focus, .action-btn:hover {
  color: #404bbf
}

.address {
  font-style: normal;
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
/* Main Section */

.main {
  background-color: var(--dark);
  /*new*/
  padding: 188px 0;
  /*new-end*/
}

.main-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  /*new*/
  max-width: 496px;
  /*new-end*/
}

.action-btn {
  background-color: var(--primary-brand);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  /*new*/
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  /*new-end*/
}
.main-div {
  display: block;
}
/* Values Section */

.header-three {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

/*new*/
.our-values {
  padding: 120px 0;
}

.visually-hidden {
  visibility: hidden;
}

.values-list {
  display: flex;
  gap: 24px;
}

.value {
  width: calc((100% - 72px) / 4);
}

.header-value {
  margin-bottom: 8px;
}
/*new-end*/

/*Job Section */

.header-two {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}

/*new*/
.our-job {
  padding-bottom: 120px;
}

.job-header {
  margin-bottom: 72px;
}

.our-job-list {
  display: flex;
  gap: 24px;
}

.job {
  width: calc((100% - 48px) / 3);
}
/*new-end*/

/*Team Section */
.our-team {
  background-color: #f4f4fd;
  /*new*/
  padding: 120px 0;
  /*new-end*/
}

.team {
  background-color: #ffffff;
  /*new*/
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  /*new-end*/
}

/*new*/
.team-header {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.details {
  padding: 32px 16px;
}

.name {
  text-align: center;
  margin-bottom: 8px;
}

.proffession {
  text-align: center;
}

/*new-end*/

/*Footer*/

.footer {
  background-color: var(--dark);
  /*new*/
  padding: 100px 0;
  /*new-end*/
}
.motto {
  line-height: 1.5;
  color: var(--light);
  letter-spacing: 0.02em;
  /*new*/
  max-width: 264px;
  /*new-end*/
}

.studio-footer {
  color: #f4f4fd;
}

/*new*/
.bottom-logo {
  margin-bottom: 16px;
  display: inline-block;
}
/*new-end*/

/*Portfolio page */

.btn {
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  background-color: var(--light);
  cursor: pointer;
  /*new*/
  padding: 12px 24px;
  border: 1px solid var(--accent);
  border-radius: 4px;
  /*new-end*/
}

.btn:hover, .btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  /*new*/
  border: 1px solid transparent;
  /*new-end*/
}
/*new*/

.portfolio {
  padding: 96px 0 120px 0;
}

.filter-list {
  justify-content: center;
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
}

.projects-list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.project {
  width: calc((100% - 48px) / 3);
}

.about {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none; 
}

.application {
  margin-bottom: 8px;
}